* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header li  {
  color: black;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 0px;
}
p {
  text-justify: auto;
  color: black;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 20px;
}
body {
  font-size: large;
  display: inline-block;
  background-image: linear-gradient(rgb(104, 61, 4), yellow);
  color: black;
  margin-bottom: 20px;
}

h1 {
  text-align: left;
}
.header {
  color: black;
  width: 100%;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img {
  height: 500px;
  width: 400px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.refactoring {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-left: 0px;
  width: 50%;
  text-decoration: none;
} 
/*adjusted to smaller size as per acceptance criteria*/
.student-bio {
  width: 100%;
}
.AirScape {
  display: flex;
  width: 50%;
  margin-right: 600px;
}
ul{
    margin-left: 20px;  
}
.

@media screen and (max-width: 500px) {
  body {
      text-align: center;
  }
}


